body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #3498db;
}

h1 {
  font-weight: 700;
}
#camera {
  height: 100%;
  width: 100%;
}
#video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#img {
  height: 100%;
  width: 100%;
  display: none;
  object-fit: cover;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100vw;
}

#startScreen {
  text-align: center;
  margin-top: 3em;
}
#startButton {
  border: 1px solid white;  
  z-index: 100;
}

#cameraButton {
  display: none;
  line-height: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background-color: #3498db;
  color: white;
  font-size: 4em;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);
  border: 1.5px solid white;
  border-radius: 2em;
  margin: 0.5em auto;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#cameraButton:active {
  line-height: 1.49em;
  -webkit-box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.75);  
  margin: 0.525em auto;
  font-size: 3.9em;
}

#button-bar {
  text-align: center;
  margin-bottom: 10px;
  display: none;
}

/* Style the button used to pause/play the video */
.btn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background-color: #3498db;  
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin: 0.2em;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.8px;

}

.btn:hover {
  background: #fff;
  text-shadow: none;
  color: #3498db;
}
.btn:focus {
  background: #fff;
  text-shadow: none;
  color: #3498db;
  outline: none;
}

.info {
  position: fixed;
  z-index: 1;
  height: 440px;
  width: 320px;

  left: 50%;
  top: 50%;
  margin-top: -220px;
  margin-left: -160px;
  background: #cccccc;
  border-radius: 10px;
  overflow-wrap: break-word;
  
  background-color: #3498db;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  letter-spacing: 0.8px;
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
}
#info {
  z-index: 2;
}
.infoText {
  text-align: justify;
}
.info-fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.info-fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
#responseText {
  flex-grow: 2;
  overflow-y: scroll;
}

.responseClass {
  text-align: left;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  margin-bottom: 8px;
}
.responseClassName {
  width: 60%
}
.responseClassScore {
  width: 40%;
}
#responseButton {
  display: flex;
  flex-direction: column-reverse;
  padding: 20px 0;
}
#responseButton button {
  height: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  letter-spacing: 0.8px;
  color: #3498db;
  font-size: 0.8em;
  letter-spacing: 0.8px;
  cursor: pointer;
}

#infoButton {
  visibility: hidden;
  cursor: pointer;
  color: #3498db;
  position: fixed;
  background: white;
  border: 1px solid white;
  border-radius: 20px;
  right: 0.5em;
  top: 0.5em;
  font-size: 2em;
  z-index: 999;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#canvas {
  display: none;
}

#loader {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -76px;
  margin-top: -76px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}